.profile-tab {
    display: flex;
    align-items: center;
    gap: 24px;
}

.profile-user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-avatar-wrapper {
    position: relative;

    width: 40px;
    height: 40px;

    flex: 0 0 40px;
}

.profile-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 8px;

    background-color: var(--color-bg-card);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--color-text-primary);

    overflow: hidden;
}

.profile-status {
    position: absolute;

    right: -1px;
    bottom: -1px;

    width: 8px;
    height: 8px;

    border: 1px solid var(--color-bg-page);
    border-radius: var(--radius-round);
    background: var(--color-orange);
}

.status-complete {
    background: var(--color-green);
}


.profile-dropdown-container {
    position: relative;
}

/* Remove default button styling */
.profile-dropdown-trigger {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

/* Dropdown */
.profile-dropdown {
    position: absolute;

    top: calc(100% + 5px);
    right: 0;

    width: 301px;
    box-sizing: border-box;

    padding: 10px 0;

    border: 1px solid var(--bg-raised, rgba(42, 44, 61, 1));
    border-radius: 16px;

    background: var(--bg-page, rgba(7, 12, 28, 1));

    box-shadow:
        0px 20px 48px -8px var(--shadow),
        0px 2px 6px 0px var(--shadow);

    overflow: hidden;

    z-index: 100;
}

/* dropdown content */
.profile-dropdown .profile-user {
    margin: 10px 20px 0;
}

.profile-status-badge {
    margin: 16px 20px 0;
    padding: 10px 12px;
    
    background-color: var(--color-tint-warning);
    color: var(--color-orange);

    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.badge-status-complete {
    background-color: var(--color-tint-green);
    color: var(--color-green);
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-dropdown-link-holder {
    margin: 4px 0;
}

.profile-dropdown-link,
.profile-dropdown-footer {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 20px;
}
.profile-dropdown-link:hover,
.profile-dropdown-footer:hover {
    background: var(--color-bg-card);
}

.profile-dropdown-link {
    color: var(--color-text-primary);
    text-decoration: none;
}

.profile-dropdown-footer {
    width: 100%;
    margin-top: 4px;
    
    border: 0;
    background: transparent;

    color: var(--color-text-primary);
    font: inherit;
    text-align: left;

    cursor: pointer;
}