.profile-tab {
    display: flex;
    align-items: center;
    gap: 24px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-avatar-wrapper {
    position: relative;

    width: 40px;
    height: 40px;

    flex: 0 0 40px;
}

.profile-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 8px;

    background-color: var(--color-bg-card);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--color-text-primary);

    overflow: hidden;
}

.profile-status {
    position: absolute;

    right: -1px;
    bottom: -1px;

    width: 8px;
    height: 8px;

    border: 1px solid var(--color-bg-page);
    border-radius: var(--radius-round);
    background: var(--color-orange);
}

.status-complete {
    background: var(--color-green);
}
