html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
  font-family: var(--font-family);
}

/* typhography */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

.text-display {
  font-size: var(--font-display-size);
  font-weight: var(--font-display-weight);
  line-height: var(--font-display-line-height);
}

.text-h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-h1-weight);
  line-height: var(--font-h1-line-height);
}

.text-body-m {
  font-size: var(--font-body-m-size);
  font-weight: var(--font-body-m-weight);
  line-height: var(--font-body-m-line-height);
}

.text-overline {
  font-size: var(--font-overline-size);
  font-weight: var(--font-overline-weight);
  line-height: var(--font-overline-line-height);
  letter-spacing: var(--font-overline-letter-spacing);
  text-transform: var(--font-overline-transform);
}
