.site-footer {
    padding: 27px 34px 34px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legal-text {
    margin: 0;
    color: var(--color-text-secondary);
}
